@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 288px;
 box-sizing: border-box;
}
*{
    max-width: 100%;
    
}
nav{
  min-height: 120px !important;
}

.leftArrow{
  color: white;
    top:50%;
    left: 30px;
    font-size: 3rem;
    cursor: pointer;
     transform: translatey(-50%); 
}
.rightArrow{
  color: white;
    top:50%;
    right: 30px;
    font-size: 3rem;
    cursor: pointer;
     transform: translatey(-50%); 
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
    position: relative;

  }
  .sliderImg{

  }
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
  }

  .sliderTextActive{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .sliderTextUnactive{
    display: none;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .miniSliderText{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40%;
    
  }
  @media screen and (max-width: 992px) {
    .miniSliderText {
      width: 55%;
    }
  }
.dropDownMenu{
  transform: translateX(-30%);

}
.aboutButton{
  border:1px white solid;
  border-radius: 2px;
}
.aboutButton:hover{
  border:1px rgb(0, 141, 210) solid;
  background-color: white;
  color: rgb(0, 141, 210);

}
footer{
  position: absolute;
  bottom: 0;
}
footer p {
  padding: 5px;
}
.logo{
  transform: translateY(-40%);
}
.contactForm{
  grid-gap: 20px;
}
